.headerRow {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px 0;
}


.logo {
  height: 50px;
  max-height: 100%;
  object-fit: contain;
}



.rightNav a { 
  font-size: 14px; 
  font-weight: 600; 
  color: #444;
   text-decoration: none; }


.subbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
  padding: 10px 0;
}

.subbar a {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  text-decoration: none;
}


.subbar a:hover {
  color: #848588;        
}

.subbar a.active {
  color: #000;          
  
}
.logoutBtn {
  background: none;
  border: none;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  
}


@media (max-width: 768px) {
  .headerRow {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .logo {
    height: 50px;
    margin-bottom: 8px;
  }

  .rightNav {
    margin-left: 0;
  }

  .subbar a {
    font-size: 14px;
  }
}

